<ul class="tree">
  <li> <span><td> <%= link_to @trip.title, "/trips/" << @trip.id.to_s %> </td></span>
    <%= sanitize make_tree(@trip.id) %>
  </li>
</ul>

<div>
  <button id="merge">Merge Trips</button>
  <div id="mergeWindow">
    <div style="margin-bottom: 15px;">
      
    </div>
  </div>
</div>


<%# popUp -> merge %>

<%# searchUser -> mergeWindow %>