<% provide(:title, "Home") %>
<!--<p style="color: green"><%= notice %></p> %>-->

<div style="background-color: pink">
  <div id="trips">
    <% @trips.each do |trip| %>
      <div class="singleTripBox">
        <%= render trip %>
        <p>
          <%= link_to "Show this trip", trip %>
        </p>
      </div>
    <% end %>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
  </div>

  <%= link_to "New trip", new_trip_path %>
</div>

