<div class="pageTitleText">Create a new Trip</div>
<div id="newTripForm">
  <div id="tripInputFields">
    <%= render "form", trip: @trip %>
  </div>
</div>
<div>
  <%= link_to "Back to trips", trips_path %>
</div>
