<% @follows.each do |follow| %>
 <%= link_to user_path(User.find(follow).id),  :style => 'color:black' do %>
    <%= User.find(follow).name  %>
    <% end %>
    <% if following?(User.find(follow)) %>
            <button class="btn profile-edit-btn">
            <%= link_to "Follow",  followuser_path(:star => User.find(follow).id, :fan => current_user.id), :style => 'color:black'%>
           </button>
          <% else %>
            <button class="btn profile-edit-btn">
            <%= link_to "Unfollow",  followuser_path(:star => User.find(follow).id, :fan => current_user.id), :style => 'color:black'%>
            </button>
          <% end %>
<% end %>