<h1>Editing trip user</h1>

<%= render "form", trip_user: @trip_user %>

<br>

<div>
  <%= link_to "Show this trip user", @trip_user %> |
  <%= link_to "Back to trip users", trip_users_path %>
</div>
