<h1>Editing your profile</h1>

<%= render "form", user: @user %>

<br>

<%= button_to "Destroy this user", @user, method: :delete %>

<%# <div class="backbotton">
  <%= link_to "Show this user", @user %> 
<%# </div> %>
