<div id="<%= dom_id trip_location %>">
  <p>
    <strong>Location:</strong>
    <%= trip_location.location_id %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= trip_location.trip_id %>
  </p>

</div>
