<h1>Editing trip location</h1>

<%= render "form", trip_location: @trip_location %>

<br>

<div>
  <%= link_to "Show this trip location", @trip_location %> |
  <%= link_to "Back to trip locations", trip_locations_path %>
</div>
