@import "bootstrap-sprockets";
@import "bootstrap";

// body {
//     // margin-bottom: 60px;
//     padding-top: 80px;
//     background-color: teal;
//   }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  #headerTitle {
    font-size: 30px;
    background-color: rgb(104, 69, 134);
    margin-bottom: 12px;
    margin-top: 4px;
    margin-left: 20px;
  }

  .headerTitleText {
    color: white;
  }

.containerHeader {
  display: flex;
  flex-direction: row;
}

.singleTripBoxD {
  display: inline-flex;
  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px
}

#trips {
  // background-color: red;
  flex-wrap: wrap;
  // align-items: center;
  display: flex;
  justify-content: center;
}

#quickProfileContainer {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
}

#quickProfile {
  background-color: white;
  width: 90%;
  height: 50px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#headerNav {
  margin-left: 10px;
  margin-right: 50px;
  // background-color: red;
  display: flex;
  align-items: center;
}

#quickProfileAction {
  background-color: gray;
  width: 50%;
  height: 35px;
  margin-right: 10px;
  border-radius: 10px;
}

#quickProfilePhoto {
  background-color: gray;
  border: 1px solid gray;
  border-radius: 100px;
  width: 35px;
  height: 35px;
}

.singleTripBox {
  display: inline-flex;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  margin: 10px;
  flex-direction: column;
  cursor: pointer;
}

.singleTripImage {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
  position: relative;
}

.singleTripDetails {
  margin-top: 5px;
}

.singleTripBold {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex: row;
  justify-content: space-between;
}

.singleTripBoldUser {
  font-weight: bold;
  font-size: 15px;
  // background-color: red;
  display: flex;
  flex: row;
  justify-content: space-between;
}

.singleUserText:hover {
  color: rgb(149, 99, 192);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border-radius: 10px;
}

.indexImages {
  border-radius: 10px;
}

.showTripImage {
  width: 100%;
  height: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.arrowRight {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 50%;
  // background-color: lightgreen;
}

.arrowLeft {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 50%;
  // background-color: red;
}

.bookmark {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  height: 35px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 11;
  border-top: 1px solid gray;
  background-color: white;
}

#footerText {
  padding: 10px;
}

/* Individual post */
#individualPost {
  // margin-left: 5px;
  // margin-right: 5px;
  background-color: rgb(217, 208, 228); 
  // padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 5px solid rgb(134, 120, 146);
  box-shadow: 1px 2px 2px rgb(134, 120, 146);
}

/* Individual post headers */
#postTitle {
  font-weight: bold;
  font-size: 32px;
  // background-color: teal;
  display: flex;
  align-items: center;
}

#postLocationDate {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  // background-color: yellow;
  // margin-left: 10px;
}

#locationActions {
  display: flex;
  flex-direction: row;
}

#tripHeaders {
  // background-color: red;
  margin-bottom: 15px;
}

#headerPrimary {
  display: flex;
  flex-direction: row;
  // background-color: purple;
}

/* Trip details */
#tripImageDetails {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 1px rgb(127, 107, 144);
}

#tripImageFrame {
  width: 60%;
  height: 600px;
  // background-color: black;
  border-top-left-radius: 10px;
}

#tripDetails {
  width: 40%;
  height: inline-block;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
}

#tripImageFrame {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#tripDetails {
  width: 100%;
  background-color: white;
}

@media (min-width: 800px) {
  #individualPost {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1200px) {
  #tripImageDetails {
    display: flex;
    flex-direction: row;
  }

  #tripImageFrame {
    width: 65%;
    height: 500px;
    // background-color: black;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  .showTripImage {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  #tripDetails {
    width: 35%;
    height: 500px;
    // background-color: red;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 0px;
    border-left: 2px solid rgb(134, 120, 146);
  }
}

.logo {
  width: 110px;
  cursor: pointer;
  // background-color: black;
  height: 53px;
}

#addNewLoc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 246, 211);
  border: 2px dashed rgb(134, 120, 146);
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 40px;
  font-size: 16px;
  cursor: pointer;
}

#addNewLocButton {
  color: black;
}

#addNewLoc:hover {
  background-color: rgb(176, 245, 199);
}

#addNewLoc a:link {
  text-decoration: none;
  color:rgb(104, 69, 134)
}

.bottomNavigation {
  margin-bottom: 50px;
}





.datefields {
  color: white;
  background-color: rgb(204, 158, 244);
  border-radius: 8px;
  margin-block: 5px;
}

.datefields:hover {
  background-color: rgb(104, 69, 134);
  color: white
}

.filtertripbutton {
  background-color: rgb(204, 158, 244);
  border: none;
  color: white;
  border-radius: 8px;
  margin-block: 5px;
}

.filtertripbutton:hover {
  background-color: rgb(104, 69, 134);
  border: none;
  color:white;
  border-radius: 8px;
  margin-block: 5px;
}

.paginator {
  text-align: center;
  color:rgb(127, 107, 144);
}

.searchfields {
  width: 40%;
}

.dropdown-menu.active {
  display: block;
  background-color: rgb(183, 120, 239);
  color: white
}

.dropdown-menu {
  background-color: rgb(104, 69, 134);
  color:white
}

.dropdown-item {
  color:white
}

.dropdown-item:hover {
  background-color: white;
  color:rgb(104, 69, 134)
}

.form-control {
  margin-block: 5px;
}


input[type=submit] {
  padding:5px 15px; 
  background: rgb(196, 162, 225); 
  color:white;
  border:2px;
  border-color:black;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

input[type=submit]:hover {
  background:rgb(104, 69, 134)
}