
$primary: #8c47c7;
$secondary: #9b50e1;
$black: black;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 200px;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}


#locationInputFields {
    margin:auto;
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(134, 120, 146);
    background-color: rgb(217, 208, 228); 
    border-radius: 10px;
}

#description {
  resize: none;
  width: 200px;
  background-color: rgb(217, 208, 228);
  border: 1px solid rgb(178, 178, 178);
  border-radius: 10px;
  height: 160px;
  padding: 8px;
}

#description:click {
  color: rgb(255, 0, 0);
}
