#mergeWindow{
    background-color: #cc9ef4;
    /* background-color: blue; */
    color: black;
    border-radius: 25px;
    height: 65%;
    width: 80%;
    z-index: 10;
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    /* padding: 20px; */
    /* display: flex; */
    flex-direction: row;
}

#mergeWindow::-webkit-scrollbar {
  display: none;
}

#mergeScreen{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
}

.mergeRow {
    display: flex;
}
  
.tripLocsColumn{
  float: left;
  /* width: 16.66%; */
  /* background-color: orange; */
  border-right: 1px solid white;
  flex: 1;
}

.spacer{
  background-color: white;
  display: inline-block;
}

.locTime{
  background-color: rgb(220, 188, 239);
  /* background-color: yellow; */
  border-radius: 8px;
}

.mergeButton{
  background-color: #cc9ef4;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  display: inline-block;
}

.locName{
  font-weight: bold;
  font-size: 12px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 5px;
}

.mergeTripTitle{
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  /* border-radius: 10px; */
  /* background-color: green; */
}

#resultsColumn{
  background-color: #ead1ff;
  border-radius: 10px;
  flex: .8;
  height: 100%;
}

.submitButton{
  background-color: rgb(94, 135, 101);
  border: none;
  color: white;
  border-radius: 8px;
  margin-block: 5px;
}

.cancelButton{
  background-color: rgb(157, 157, 157);
  border: none;
  color: white;
  border-radius: 8px;
  margin-block: 5px;
}

#display_merged {
  margin-bottom: 50px;
}