#mergeWindow{
    background-color: rgb(220, 188, 239);
    color: black;
    border-radius: 25px;
    height: 65%;
    width: 80%;
    z-index: 10;
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}

#mergeScreen{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
}

.mergeRow {
    display: flex;
}
  
.tripLocsColumn{
  float: left;
  width: 20%;
}

.spacer{
  background-color: white;
  display: inline-block;
}

.locTime{
  background-color: white;
}