

#newTripForm {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(252, 206, 206);
}

#tripInputFields {
    padding: 15px;
    width: 50%;
    background-color: rgb(196, 196, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
}

#addLocation {
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    cursor: pointer;
}

/* custom location */
#customLocation {
    background-color: rgb(157, 106, 202);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    overflow: hidden;
}


/* search location */
#locationSearch {
  width: 470px;
  height: 45px;
  padding: 5px;
  border-radius: 15px;
  font-size: 15px;
  outline: none;
  border: none;
}

@media (max-width: 578px) {
  #locationSearch {
    width: 270px;
    height: 45px;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    outline: none;
    border: none;
  }
}

#searchLocation {
    background-color: rgb(157, 106, 202);
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 35px;
}

#searchTools {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: aqua;
  margin-top: 12%;
  transition: margin-top .2s ease-out;
  margin-bottom: 5px;
}

#searchBtn {
  border-radius: 23px;
  padding: 8px;
  background-color: white;
  border: none;
}

#searchBar {
  margin-top: 15px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0 2px 2px 2px 5px gray;
}

#searchIcon {
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#searchResults {
    // align-items: center;
    margin-top: 5px;
    overflow-y: scroll;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    flex-wrap: wrap;
  // align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 90%;
}

.locationItem {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    background-color: white;
    margin: 5px;
}

@media (min-width: 841px) {
  .locationItem {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    margin: 5px;
}
}


.locDetailAndImage {
    display: flex;
    flex-direction: row;
}

.locImage {
    width: 80px;
    height: 40px;
    margin-left: 15px;
}

.locName {
    font-size: 20px;
    font-weight: bold;
}

.locDetails {
  width: 200px;
}

// .detailText {

// }

#noResult {
    margin: 20px;
    font-size: 15px;
    color: rgb(255, 196, 0);
}


#customLocationCard {
    background-color: white;
    padding: 15px;
    // display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 15px;
    border: 1px solid gray;
    position: absolute;
    top: 25vh;
    z-index: 101;
}

.new_location {
    display: flex;
    flex-direction: column;
}

/* form styles */

$primary: #8c47c7;
$secondary: #9b50e1;
$black: black;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 200px;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

#searchCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitleText {
  font-size: 25px;
}

#location_description {
  resize: none;
  width: 200px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  height: 160px;
  padding: 8px;
}

.rowBlock {
  display: flex;
  flex-direction: row;
  // background-color: orange;
  gap: 15px;
}

.columnBlock {
  display: flex;
  flex-direction: column;
  // background-color: blue;
}

#shade {
  width: 100%;
  height: 100%;
  background-color: rgba(92, 39, 145, 0.443);
  position: fixed;
  top: 0px;
  z-index: 100;
  display: none;
}

#xicon {
  width: 15px;
  height: 15px;
}

#xiconContainer {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border-radius: 50px;
}

#xiconContainer:hover {
  background-color: rgb(244, 244, 244);
}

.addLocationBtn {
  width: 170px;

}

.addLocationBtnContainer {
  display: flex;
  justify-content: center;
  position: relative;
}