#searchUser{
    background-color: rgb(220, 188, 239);
    padding: 15px;
    /* display: block; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid gray;
    position: absolute;
    top: 25vh;
    left: 40vw;
    z-index: 101;
}

#screen{
    width: 100%;
    height: 100%;
    background-color: rgba(30, 13, 47, 0.443);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    /* display: block; */
    display: none;
}

.flexDirectionRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flexDirectionColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inviteContainer {
    /* background-color: red; */
}

#userSearch {
    width: 200px;
}

.searchedUserContainer {
    background-color: white;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
}

.searchedUserInfo {
    display: flex;
    flex-direction: column;
}

#userResults {
    margin-top: 10px;
}

#closeInvite {
    cursor: pointer;
}

.inviteUserBtn:hover {
    background-color: rgb(223, 223, 223);
}

.inviteUserBtn {
    border-radius: 5px;
}

/* <%= invited_users(@trip.id).each do | trip_user | %>
        <div>@<%= trip_user %></div>
      <% end %> */