@import "bootstrap";

/* typography */

.userContainer{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.one {
    width: 100%;
    //height: 100%;
    //float: left;
    position: relative;
}
  
.two {
    margin-left: 10%;
    height: 100%;
    width: 80%;
    justify-content: space-evenly;
    position: relative;
    // flex-direction: row;
    // flex-wrap: wrap;
  
  }
  /*for triphub  onyly*/
.h3 {
    font-size: 2em;
    letter-spacing: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.h4{
    font-size: 1.5em;
    letter-spacing: 0px;
    margin-bottom: 30px;
    text-align: center;
    color: gray;
}

.h5{
    font-size: 2em;
    letter-spacing: 0px;
    margin-bottom: 30px;
    text-align: center;
}

  /*for triphub only*/
.show-picture{
  //background: url('www.google.com');
  width: 200px;
  height: 150px;
  border-radius: 10%;
  size-adjust:relative;
}

.sign-out{
  border:1px solid white;
  background-color: #77ffd7;
  height: 50px;
  width: 200px;
  margin-top: 3em;
  // position:absolute;
  // bottom:0px;
  // right:25%;
  // left:50%;
  margin-left:200px;
}

.TripHub_user {
  height: 100%;
  width: 100%;
  background-color: rgb(104, 69, 134);
  color:#77ffd7;
  float: left;
  column-count: 2;
}

.TripHub_userhead {
  height: 100%;
  width: 100%;
  background-color: rgb(104, 69, 134);
  color:#77ffd7;
  float: left;
  column-count: 2;
}

.Trip_info{
  width: 20%;
  height: 200px;
  float:left;
}

.Planner_page{
  width: 20%;
  height: 200px;
  margin-left:40%;

}

.Social{
  width: 20%;
  height: 200px;
  float: left;
}

.Setting{
  width: 20%;
  height: 200px;
  margin-left:40%;
}

.Lists{
  margin-top: 1em;
}
.profile_picture{
  background-color: rgb(104, 69, 134);
  width: 350px;
  
}

.button{
  font-size: 2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: grey;
  
}

.sign-out-button{
  font-size: 2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  margin: 4px 40px;
}

.user-button{
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  padding-top:20px;
  color: grey;

}
.link_text{
    font-size: 1em; 
    color: grey;
}


/* Profile Section */

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 500;
}

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}