<%= render 'layouts/flash' %>
<div class="pageTitleText">Create a new Location</div>
<div id = "locationInputFields">
<%= render "form", location: @location %>
</div>

<br>

<div>
  <%= link_to "Back to locations", locations_path %>
</div>
