<%= render 'layouts/flash' %>
<div class="pageTitleText">Create a new Location</div>
<%= render "form", location: @location %>


<br>

<div>
  <%= link_to "Back to locations", locations_path %>
</div>
