<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="containerHeader" style="background-color: red">
  <div id="headerTitle"><%= link_to "TripHub", root_path, id: "logo" %></div>
    <nav style="background-color: blue">
    <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul id="navbar-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" style="background-color: yellow">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Add Trip", new_trip_path %></li>
        <li><%= link_to "Add Planner", new_trip_path %></li>
      </ul>
    </nav>
  </div>
</header>